*.swp
.idea/

/client/node_modules/*
!/client/node_modules/localDb/
/client/npm-debug.log

/server/.tmp/
/server/node_modules/
/server/assets/
!/server/assets/images/
!/server/assets/js/
!/server/assets/favicon.ico
!/server/assets/robots.txt
/server/assets/dist/
/server/npm-debug.log
